## <font color="maroon"><h4 align="center">Handling Missing Data</font>

In [111]:
import pandas as pd
df = pd.read_excel("weather_data.xls")
df.set_index('day',inplace=True)
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        7.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08         31.0        2.0   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

### <font color="blue">fillna</font>

In [100]:
new_df = df.fillna(0)
new_df

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-04          0.0        7.0  Sunny
2017-01-05         28.0        0.0   Snow
2017-01-06          0.0        7.0      0
2017-01-07         32.0        0.0   Rain
2017-01-08         31.0        2.0  Sunny

In [101]:
new_df = df.fillna(method="ffill")
new_df

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-04         32.0        7.0  Sunny
2017-01-05         28.0        7.0   Snow
2017-01-06         28.0        7.0   Snow
2017-01-07         32.0        7.0   Rain
2017-01-08         31.0        2.0  Sunny

In [102]:
new_df = df.fillna(method="bfill")
new_df

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-04         28.0        7.0  Sunny
2017-01-05         28.0        7.0   Snow
2017-01-06         32.0        7.0   Rain
2017-01-07         32.0        2.0   Rain
2017-01-08         31.0        2.0  Sunny

### <font color="blue">interpolate</font>

In [103]:
new_df = df.interpolate()
new_df

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-04         30.0        7.0  Sunny
2017-01-05         28.0        7.0   Snow
2017-01-06         30.0        7.0    NaN
2017-01-07         32.0        4.5   Rain
2017-01-08         31.0        2.0  Sunny

In [105]:
new_df = df.interpolate(method="time")
new_df

            temperature  windspeed  event
day
2017-01-01         32.0        6.0   Rain
2017-01-04         29.0        7.0  Sunny
2017-01-05         28.0        7.0   Snow
2017-01-06         30.0        7.0    NaN
2017-01-07         32.0        4.5   Rain
2017-01-08         31.0        2.0  Sunny

**Notice then in above temperature on 2017-01-04 is 29 instead of 30 (in plain linear interpolate)**

### <font color="blue">dropna</font>

In [117]:
new_df = df.dropna()
new_df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-08         31.0        2.0   Sunny
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [118]:
new_df = df.dropna(how='all')
new_df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        7.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08         31.0        2.0   Sunny
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny

In [119]:
new_df = df.dropna(thresh=2)
new_df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        7.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-07         32.0        NaN    Rain
2017-01-08         31.0        2.0   Sunny
2017-01-10         34.0        8.0  Cloudy
2017-01-11         40.0       12.0   Sunny