<h1 style="color:blue" align="center">Pandas Time Series Analysis: Period and PeriodIndex</h1>

<h3 style="color:purple">Monthly Period</h3>

In [91]:
import pandas as pd

m = pd.Period('2017-12')
m

Period('2017-12', 'M')

In [92]:
m.start_time

Timestamp('2017-12-01 00:00:00')

In [93]:
m.end_time

Timestamp('2017-12-31 23:59:59.999999999')

In [94]:
m+1

Period('2018-01', 'M')

<h3 style="color:purple">Daily Period</h3>

In [95]:
d = pd.Period('2017-02-28', freq='D')
d

Period('2017-02-28', 'D')

In [96]:
d.start_time

Timestamp('2017-02-28 00:00:00')

In [97]:
d.end_time

Timestamp('2017-02-28 23:59:59.999999999')

In [98]:
d+1

Period('2017-03-01', 'D')

<h3 style="color:purple">Hourly Period</h3>

In [99]:
h = pd.Period('2017-08-15 23:00:00',freq='H')
h

Period('2017-08-15 23:00', 'H')

In [100]:
h+1

Period('2017-08-16 00:00', 'H')

<h3 style="color:purple">Quarterly Period</h3>

In [101]:
q1= pd.Period('2017Q1', freq='Q-JAN')
q1

Period('2017Q1', 'Q-JAN')

In [102]:
q1.start_time

Timestamp('2016-02-01 00:00:00')

In [103]:
q1.end_time

Timestamp('2016-04-30 23:59:59.999999999')

<h3 style="color:purple">Weekly Period</h3>

In [104]:
w = pd.Period('2017-07-05',freq='W')
w

Period('2017-07-03/2017-07-09', 'W-SUN')

In [105]:
w-1

Period('2017-06-26/2017-07-02', 'W-SUN')

In [106]:
w2 = pd.Period('2017-08-15',freq='W')
w2

Period('2017-08-14/2017-08-20', 'W-SUN')

In [107]:
w2-w

6

<h3 style="color:purple">PeriodIndex and period_range</h3>

In [108]:
r = pd.period_range('2011', '2017', freq='q')
r

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

**Walmart's fiscal year ends in Jan, below is how you generate walmart's fiscal quarters between 2011 and 2017**

In [109]:
r = pd.period_range('2011', '2017', freq='q-jan')
r

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [110]:
r[0].start_time

Timestamp('2010-11-01 00:00:00')

In [111]:
r[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [112]:
r = pd.PeriodIndex(start='2016-01', freq='3M', periods=4)
r

PeriodIndex(['2016-01', '2016-04', '2016-07', '2016-10'], dtype='period[3M]', freq='3M')

In [113]:
import numpy as np
ps = pd.Series(np.random.randn(len(r)), r)
ps

2016-01   -0.437385
2016-04   -0.915184
2016-07    1.020929
2016-10    0.156490
Freq: 3M, dtype: float64

<h3 style="color:purple">Processing Apple Inc's Financials</h3>

In [136]:
import pandas as pd
df = pd.read_csv("wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [137]:
df.set_index("Line Item",inplace=True)
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [138]:
df.index = pd.PeriodIndex(df.index, freq="Q-JAN")
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [140]:
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [142]:
df.index[4].end_time

Timestamp('2017-04-30 23:59:59.999999999')